		<%_ if (/^UA-\d{4,9}-\d{1,4}$/i.test(trackingId)) { _%>
		<script async src="https://www.google-analytics.com/analytics.js"></script>
		<script>
			window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
			ga('create','UA-XXXXXXXX-Y','auto');ga('set','anonymizeIp',true);
			ga('set','transport','beacon');ga('send','pageview');
		</script>
		<%_ } _%>
		<script src="/js/bundle.js" data-finger-print></script>
	</body>
</html>
