<!doctype html>
<html lang="<%= language %>">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="author" content="<%= siteAuthor + ' <' + siteEmail + '>' %>">
		<meta name="copyright" content="<%= new Date().getFullYear() %>">
		<meta name="description" content="<%= siteDescription.substring(0, 160) %>">
		<meta name="generator" content="Nami 0.1.1">
		<meta name="license" content="<%= licence %>">
		<meta name="theme-color" content="#3cc47c">

		<meta property="og:description" content="<%= siteDescription %>">
		<meta property="og:image" content="<%= siteIcon =>">
		<meta property="og:title" content="<%= siteName %>">
		<meta property="og:type" content="website">
		<meta property="og:url" content="<%= url %>">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:description" content="<%= siteDescription %>">
		<meta name="twitter:image" content="<%= siteIcon =>">
		<meta name="twitter:site" content="@<%= siteName %>">
		<meta name="twitter:title" content="<%= siteName %>">
		<meta name="twitter:url" content="<%= url %>">

		<meta itemprop="description" content="<%= siteDescription %>">
		<meta itemprop="image" content="<%= siteIcon =>">
		<meta itemprop="name" content="">

		<%_ pageTitle = typeof pageTitle === 'undefined' ? '' : pageTitle; _%>
		<title><% pageTitle ? %><%= pageTitle %> | <% : '' %><%= siteName %></title>

		<link href="/feed.xml" rel="alternate" type="application/rss+xml">
		<link href="/humans.txt" rel="author">

		<%_ const extension = siteIcon.split('.').slice(-1)[0] _%>
		<link href="<%= siteIcon %>" rel="icon" type="<%= 'image/' + extension %>">
		<link href="/manifest.json" rel="manifest">

		<link href="/css/bundle.css" rel="stylesheet" data-finger-print>
	</head>
	<body>
		<!--[if IE]><p>Microsoft Internet Explorer isn't supported!</p><![endif]-->
		<noscript>Please enable JavaScript.</noscript>
